@font-face {
  font-family: 'Candara';
  src: url('../fonts/Candara-BoldItalic.eot');
  src: url('../fonts/Candara-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Candara-BoldItalic.woff2') format('woff2'),
  url('../fonts/Candara-BoldItalic.woff') format('woff'),
  url('../fonts/Candara-BoldItalic.svg#Candara-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Uni Neue';
  src: url('../fonts/UniNeueHeavy.eot');
  src: url('../fonts/UniNeueHeavy.eot?#iefix') format('embedded-opentype'),
  url('../fonts/UniNeueHeavy.woff2') format('woff2'),
  url('../fonts/UniNeueHeavy.woff') format('woff'),
  url('../fonts/UniNeueHeavy.svg#UniNeueHeavy') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Uni Neue';
  src: url('../fonts/UniNeueRegular-Italic.eot');
  src: url('../fonts/UniNeueRegular-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/UniNeueRegular-Italic.woff2') format('woff2'),
  url('../fonts/UniNeueRegular-Italic.woff') format('woff'),
  url('../fonts/UniNeueRegular-Italic.svg#UniNeueRegular-Italic') format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Uni Neue';
  src: url('../fonts/UniNeueRegular.eot');
  src: url('../fonts/UniNeueRegular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/UniNeueRegular.woff2') format('woff2'),
  url('../fonts/UniNeueRegular.woff') format('woff'),
  url('../fonts/UniNeueRegular.svg#UniNeueRegular') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Uni Neue';
  src: url('../fonts/UniNeueBold.eot');
  src: url('../fonts/UniNeueBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/UniNeueBold.woff2') format('woff2'),
  url('../fonts/UniNeueBold.woff') format('woff'),
  url('../fonts/UniNeueBold.svg#UniNeueBold') format('svg');
  font-weight: bold;
  font-style: normal;
}

